@charset "utf-8";

body {
  background: #E4E7EC;
}

.MainBody {
  padding: 0px;
  margin: 0px;
  background-color: #E4E7EC;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 60px 0px;
}

.signUpImg img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.signUpImg {
  height: 100%;
  position: relative;
  background-size: cover;
}

.bg5Img{
  background-image: url('http://localhost:3000/static/media/signUpImg5.3a5979f4e8bb799a0aad.png');
}

.bg4Img{
  background-image: url('http://localhost:3000/static/media/signUpImg4.77d891c445c92ddd1b12.png');
}

.bg2Img{
  background-image: url('http://localhost:3000/static/media/signup2img.a0ca65b559984f4a657b.png');
}

.bg3Img{
  background-image: url('http://localhost:3000/static/media/signup3img.7d8daef32d95d93fc3f8.png');
}

.bg1Img{
  background-image: url('http://localhost:3000/static/media/signUp.42d3f30405ea844279dc.png');
}



.SignBody {
  /* width: 70vw; */
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  /* width: 1440px; */ 
  /* height:80vh; */
  border-radius: 20px;
}

.SignFormBox {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10%;
  justify-content: space-between;
  padding: 60px 80px 50px 80px;
}

.SignFormBoxHeader {
  margin-bottom: 30px;
}

.SignFormBoxHeader h1 {
  font-weight: 600;
  font-size: 38px;
  line-height: 40px;
}

.SignFormBoxHeader p {
  color: #707B87;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}


.SignFormBox form .form-group label {
  font-size: 14px;
  color: #707B87;
  line-height: 27px;
}

.SignFormBox form {
  width: 100%;
}

.form-group {
  position: relative;
}

.yinput {
  padding-left: 40px;
}

.yInputIcon {
  position: absolute;
  bottom: 0.9rem;
  left: 1rem;
}

.yInputIcon, .yInputIcon2 {
  width: 18px;
  top: 2.8rem;
}

.yInputIcon2 {
  position: absolute;
  bottom: 2.2rem;
  left: 1rem;
}

.SignFormBox form .form-group {
  margin-top: 15px;
}

.SignFormBox form .form-group .select {
  padding-left: 38px;
  height: 52px;
  font-weight: 600;
  font-size: 15px;
}

.SignFormBox form .form-group .form-control {
  font-size: 0.9rem;
  height: 52px;
  padding-left: 45px;
  font-size: 17px;
  color: #000;
  font-weight: 500;
}

.smf{
  font-size: 12px;
}

.formSbmitBtn {
  width: 100%;
  border-radius: 40px;
  margin-top: 30px;
  padding: 11.7px;
  background: #DE0600;
}

.rlogo {
  width: 160px;
  margin-bottom: 25px;
}

.LogoBx{
  cursor: pointer;
}

.signWithBtnBx {
  display: flex;
  justify-content: space-between;
}

.mtyfnt {  
  margin: 12px 10px;
}

.signWithBtn img {
  width: 1em;
}

img.fbicn {
  width: 0.6em;
}

.signWithBtn {
  display: flex;
  width: 49%;
  border: 1px solid #BDBDBD;
  padding: 14px 15px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.signWithBtn p {
  margin-bottom: 0;
  font-size: 12.9px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.textCenter{
  text-align: center;
}

.SignFormBox form a {
  text-decoration: none;
}

/*--- signup2 ---*/

.SignBody2 .SignFormBox form .form-group input{
  color:#000;

}

.SignBody2 .SignFormBox form .form-group input, .SignBody2 .SignFormBox form .form-group .select {
  padding-left: 46px;
  height: 52px;
  font-weight: normal;
  font-size: 16px;
}

.SignFormBox form .form-group label {
  font-size: 16px;
  color: #707B87;
  line-height: 27px;
}

.SignBody2 .yInputIcon, .yInputIcon2 {
  width: 17px;
  position: absolute;
  bottom: 1.2rem;
  left: 1rem; 
}

.SignBody2 {
  /* width: 70vw; */
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  /* width: 1440px; */
  height: 80vh;
  border-radius: 20px;
  display: grid;
  position: relative;
}

.backBox img {
  width: 22px;
  height: 19px;
  margin-right: 7px;
  margin-top: 1px;
}

.backBox {
  display: flex;
  position: absolute;
  top: 40px;
  height: 40px;
  left: 40px;
}

.backBox p {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #000;
}

.SignBody2 .signUpImg img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.SignBody2 .signUpImg {
  height: 100%;
  position: relative;
  /* background-image: url("http://localhost:3000/static/media/signup2img.a0ca65b559984f4a657b.png"); */
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/*-- signup 3 --*/

.SignBody3 .SignFormBox form .form-group input {
  width: 12.5%;
  padding: 3px;
  height: 57px;
  font-size: 34px;
  text-align: center;
}

.d-flexY {
  display: flex!important;
  justify-content: space-between;
}

.SignFormBoxHeader p span {
  color: #000;
  font-weight: 600;
}

.VOneText {
  text-align: right;
  width: 100%;
  float: right;
  margin-top: 10px;
  font-size: 15px;
}

.VOneText span{
 color:#DE0600;
}

.VTwoText {
  font-size: 16px;
  text-align: center;
  display: block;
  margin-top: 15px;
}

/*-- signup 5 --*/

.SignFormBox5{
  position:relative;
}

.SignFormBox5 .signWithBtn img {
  width: 1em;
  margin-right: 10px;
}

.SignFormBox5 .signWithBtn .fbicn {
  width: 0.6em;
  margin-right: 10px;
}

.SignFormBox5 .signWithBtn {
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.SignFormBox5 .signWithBtnBx {
  display: initial;
  justify-content: center;
}

.signUpImg img {
  width: 100%;
  height: initial;
  position: absolute;
  display:none;
}

.SignBody5{
  /* height:80vh!important; */
}

.SignBody5 .SignFormBox {
  padding: 140px 80px 120px 80px;
}

.SignBody5 .SignFormBox form .form-group .form-control {
  font-size: 1rem;
  height: 50px;
  padding-left: 45px;
}

.textRed{
  color:#DE0600;
}

.SignBody5 .yInputIcon, .yInputIcon2 {
  width: 15px;
  position: absolute;
  bottom: 0.9rem;
  left: 1rem;
}

.mty{
  margin-top:30px;
}

.SignBody5 .yInputIcon {
  top: 2.7em;
  width: 20px;
  height: 16px;
}
/*---  Hero Section ---*/

.HeroSectionBody {
  font-family: 'Inter';
  font-style: normal;
  background: #000;
  color: #fff;
  background-image: url('http://localhost:3000/static/media/wallpapersden.9f6d0401441dbd20741f.png');
  background-size: contain;
  background-position-x: 80vh;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 140px;
}

.HeroSectionBody::after {
  background-image: url('http://localhost:3000/static/media/heroBgAfter.6ce1ff439c9fd3045731.png');
  left: 0;
  top: 0;
  content: " ";
  position: absolute;
  background-size: contain;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  opacity: 0.2;
  background-position-y: bottom;
  /* z-index: -1; */
  width: 310px;
}

.navBar, .navBxLinks {
  height: 100px;
  display: flex;
  align-items: center;
}

.navBxLinks {
  justify-content: flex-end;
}

.webLogo{
  width:150px;
} 

.heroImgBx img {
  width: 100%;
}

.navBxLinks ul {
  margin-bottom: 0px;
}

.navBxLinks ul li {
  text-align: right;
  list-style: none;
  cursor: pointer;
}

.navBxLinks ul li img {
  width: 16px;
  margin-right: 8px;
}

.upcmngBtn {
  background: #e20813;
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18.5px;
  color: #FFFFFF;
  padding: 9px 23px;
  border-radius: 40px;
}

.heroTxtBx {
  margin-top: 70px;
}

.heroText {
  margin-top: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heroTextSm {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

.heroTextBg {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
  text-transform: uppercase;
}

.Clickbtn {
  background: #E20813;
  text-decoration: none;
  color: #fff;
  padding: 23px 45px;
  border-radius: 60px;
  line-height: 0px;
  margin-top: 20px;
  position: absolute;
  font-weight: 500;
  font-size: 18px;
}

/* .ClickbtnBx {
  display: inline-flex;
} */

.darkGreyText {
  color: #686868;
  font-weight: 500;
  font-family: 'Inter';
}


.greyText{
  color:#B5B5B5;
}

.dflexY {
  display: flex;
}

.boldY {
  color: #000;
  font-weight: 600;
}

.mtY0{
  margin-top: 0px!important;
}

.heroOtpnBx {
  width: 80%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #343434;
  padding-right: 85px;
}

.heroOtpn_SBx {
  width: 80%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-right: 85px;
  margin-top: 90px;
}

.dflexY_SBx {
  display: flex;
}

.optnIcn:nth-child(2) {
  margin-left: 30px;
}

.optnIcn span img {
  width: 18px;
  margin-right: 5px;
}

/* --- Competion Box --- */

.compImgBx img {
  width: 100%;
  border-radius: 25px;
}

.comDtlMnBx {

}

.comDtlMnBx .Clickbtn {
  cursor: pointer;
  font-family: inter;
  font-weight: 700;
}

.comDtlInrBx {
  /* margin-top: -100px; */
  z-index: 999999;
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  overflow: hidden;
}

.heroOtpnBx_NBrdr {
  padding-bottom: 0px;
  margin-bottom: 10px;
  padding-right: 85px;
}

.heroText_card {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-top: 0px;
}

.heroText_card .bold {
  font-weight: bold;
}

.heroTxtBx_card {
  margin-top: 0px;
  padding-left: 20px;
}

.heroTxtBx2 {
  margin-bottom: 25px;
  margin-top: 15px;
}

.heroTextSm_card {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 15px;
}

.heroTextBg_card {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
  text-transform: uppercase;
}

.heroOtpnBx_card {
  width: 80%;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #343434;
  padding-right: 85px;
}

.WinMedalF{
  position: relative;
}

.WinMedalF::before {
  position: absolute;
  top: -40px;
  right: 10px;
  left: 120px;
  bottom: 0px;
  content: ' ';
  background-image: url('./components/images/firstMedal.png');  background-repeat: no-repeat;
  width: 60px;
  /* height: auto; */
  transform: scale(0.6);
}

.WinMedalS{
  position: relative;
}

.WinMedalS::before {
  position: absolute;
  top: -40px;
  right: 10px;
  left: 120px;
  bottom: 0px;
  content: ' ';
  background-image: url('./components/images/SecondMedal.png');
  background-repeat: no-repeat;
  width: 60px;
  /* height: auto; */
  transform: scale(0.6);
}


.WinMedalT{
  position: relative;
}

.WinMedalT::before {
  position: absolute;
  top: -40px;
  right: 10px;
  left: 120px;
  bottom: 0px;
  content: ' ';
  background-image: url('./components/images/ThirdMedal.png');
  background-repeat: no-repeat;
  width: 60px;
  /* height: auto; */
  transform: scale(0.6);
}


.prtcptBx {
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.prtcptTextBx .prtcptName {
  font-size: 15px;
  font-family: 'Inter';
  font-weight: 600;
  margin-bottom: 10px;
}

.prtcptTextBx {
  padding-top: 15px;
  margin-bottom: -20px;
}

.prtcptName{

}

.prtcptLocation {
  margin-top: -10px;
  margin-bottom: 35px;
}

.prtcptTextBx .prtcptLocation img {
  width: 15px;
}

.prtcptImgBx img {
  width: auto;
  height: 140px;
}

.prtcptBx .prtcptImgBx {
  background-color: #C0C0C0;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.mtN100{
  margin-top: -100px;
}

.spacer {
  height: 40px;
}

.statusSriped {
  background: #e20813;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: -49px;
  padding: 3px 70px;
  transform: rotateZ(45deg);
  top: 32px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}


/* .comDtlInrBx::before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: " ";
  background-image: url('./components/images/DANCE.png');
} */

.bgStrokeText{
  position:relative;
}

.bgStrokeText::before {
  top: 30px;
  right: 0;
  bottom: 0;
  content: " ";
  /* background-image: url(http://localhost:3000/static/media/DANCE.ceae4fd9db1eb24d790e.png); */
  background-image: url('./components/images/DANCE.png');
  background-size: contain;
  position: absolute;
  left: revert;
  background-repeat-x: no-repeat;
  width: 129px;
  height: 80%;
}

.bgStrokeText_Fashion{
  position: relative;
}
.bgStrokeText_Fashion::after {
  top: 382px;
  right: 0px;
  bottom: 0px;
  content: " ";
 /*  background-image: url(http://localhost:3000/static/media/Fashion_Stroke.ae1312a1579a5faa0c64.png); */
  background-image: url('./components/images/Fashion_Stroke.png');
  background-size: contain;
  position: absolute;
  left: 40px;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  z-index: -9999999;
}


.bgStrokeText_Singer{
  position:relative;
}

.bgStrokeText_Singer::before {
  top: 30px;
  right: -10px;
  bottom: 0;
  content: " ";
  /* background-image: url(http://localhost:3000/static/media/DANCE.ceae4fd9db1eb24d790e.png); */
  /* background-image: url(http://localhost:3000/static/media/SInging_Stroke.909725881b903ce997db.png); */
  background-image: url('./components/images/SInging_Stroke.png');  
  background-size: contain;
  position: absolute;
  left: revert;
  background-repeat-x: no-repeat;
  width: 129px;
  height: 88%;
}

.bgStrokeText_Dancer{
  position:relative;
}

.bgStrokeText_Dancer::before {
  top: 2rem;
  right: 0px;
  bottom: 0;
  content: " ";
  /* background-image: url(http://localhost:3000/static/media/DANCE.ceae4fd9db1eb24d790e.png); */
  /* background-image: url(http://localhost:3000/static/media/DANCE.ceae4fd9db1eb24d790e.png); */
  background-image: url('./components/images/DANCE.png');
  background-size: contain;
  position: absolute;
  left: 50%;
  background-repeat-x: no-repeat;
  width: 320px;
  height: 84%;
}

/*-- footer --*/

.footer2 {
  text-align: center;
  padding-bottom: 40px;
  background: #000;
  color: #5F5F5F;
  font-family: 'Inter', sans-serif;
  margin-top: 40px;
}

.footer {
  text-align: center;
  padding: 129px 40px;
  background: #000;
  color: #5F5F5F;
  font-family: 'Inter', sans-serif;
  margin-top: -70px;
}

.ftrLinks ul {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.ftrLinks ul li {
  list-style-type: none;
  margin: 0px 20px;
  cursor: pointer;
  font-size: 19px;
}

.ftrLogo img {
  margin-bottom: 25px;
  height: 60px;
  width: auto;
  margin-top: 35px;
}

.cpyright p {
  font-size: 19px;
}

.ftrLogo, .ftrLinks {
  padding: 20px 0px 15px 10px;
  border-bottom: 0.2px solid #686868;
  line-height: 0;
  margin-bottom: 25px;
}


/*--- Cat Video ---*/

.thumbnailBx {
  position: relative;
  height: 100%;
  padding-bottom: 10px;
  cursor: pointer;
}

.timeStamp {
  position: absolute;
  background: #030303;
  right: 5%;
  bottom: 30%;
  padding: 3px 10px;
  font-family: inter;
  font-weight: bold;
  color: #fff;
  font-size: 12.8px;
  border-radius: 5px;
}

.mbRow40{
  margin-bottom: 40px;
}

.thumbnailBx .prsnName {
  color: #030303;
  font-weight: 800;
  font-size: 18px;
}

.thumbnailBx p {
  margin-bottom: 0;
  padding-top: 25px;
  line-height: 0;
  font-family: inter;
  font-size: 14px;
  color: #606060;
}

.thumbnailBx img {
  border-radius: 15px;
  position: relative;  
  width: 100%;
}

.CardVdo_mb30{
  margin-bottom:30px;
}

.CatVdo_comDtlInrBx {
  background: #fff;
  padding: 30px;
  border-radius: 30px;
}

.brdrBtm {
  border-bottom: 1px solid #BDBDBD;
}

.CatVdoMt100{
  margin-top: 100px;
}

.CatVdoMt40 {
  margin-top: 40px;
}

/*
 .comDtlInrBx {
    z-index: 999999;
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px;
  } 
*/

.darkGreyText2 {
  color: #333;
  font-weight: bolder;
  font-family: 'Inter';
}

.Round_Number p{
  font-size: 19px;
  font-weight: bolder;
  color: #333333;
  font-family: 'Inter';
}

.Participants_Number {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: bolder;
  color: #333333;
}

.catVdoProfile {
  width: 260px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: flex;
  margin-top: -150px;
  margin-bottom: -85px;
}

.ImgW20 img{
  width: 20px!important;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.VdoCat_clndrFont {
  font-size: 22px;
  margin-left: 5px;
  font-weight: bold;
}

.VdoCat_heroTxtBx2 {
  margin-bottom: 25px;
  margin-top: 15px;
}

.VdoCat_heroOtpnBx {
  padding-bottom: 20px;
  /* margin-bottom: 30px; */
  justify-content: center;
}

.VdoCat_heroText {
  margin-top: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.VdoCat_heroTxtBx {
  margin-top: 40px;
  text-align: center;
  padding-bottom: 30px;
}

.HdrScndCntnrFluid {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.CatVideo_HeroSectionBody {
  font-family: 'Inter';
  font-style: normal;
  background: #101019;
  color: #fff;
  position: relative;
  padding-bottom: 0px;
}

.CatVideo_HeroSection {
  font-family: 'Inter';
  font-style: normal;
  background: transparent;
  color: #fff;
  padding-bottom: 0px;
}

.CatVideo_HeroSection::after {
  /* background-image: url(http://localhost:3000/static/media/wallpapersden2.db3f85c32c0e7022ab42.png); */
  background-image: url('./components/images/wallpapersden2.png');
  content: " ";
  position: absolute;
  background-size: contain;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-position-y: bottom;
  min-width: 280px;
  background-position: right;
}

.catVdo_mt120{
  margin-top: 120px;
}